<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
    <title>Blog Page</title>
</head>
<body>
      <%- include('./partials/nav') %>   
<div class="container mt-4">

    <h1><%= blog.title %></h1>
    <img src="<%= blog.coverImageURL %>" class="coverImage" alt="">

    <p class="mt-5"><%= blog.body %></p>
</div>
   <div class="container mt-4">
 <img src="<%=blog.createdBy.profileImage %>" alt=""  class="profileImageUser" width="50px">
      <%= blog.createdBy.fullName %>

   </div>

   <div class="container mt-3">
<% if (locals.user) { %>
 <h1>Comments (<%= comments.length %>)</h1>
<form action="/blog/comment/<%= blog._id %>" method="post">
  <div class="mb-3">
    <input type="text" class="form-control" name ="content" id="content" placeholder="Enter your Valuable Comment" aria-describedby="comments">
  </div>
  <button type="submit" name="submit" class="btn btn-primary">ADD</button>
</form>

<% } %>
 </div>


   <div class="container mt-4">
       <% comments.forEach(comment => { %>
        <div>
             <img src="<%= comment.createdBy.profileImage %>" alt="" class="profileImage" width="50px">
             <%= comment.createdBy.fullName %>  <pre class="comment ms-5"><%= comment.content %></pre>
             <hr>
        </div>
       <% }) %>
   </div>
  
      <%- include('./partials/script') %>  
</body>
</html>